body
{
    background: black;
    color: white;
    font-family: monospace;
    text-align: center;
}

#pnl_root
{
    margin: 32px;
}

#hdr_caption {
    font-size: 60px;
    text-align: center;
    margin: 0 0 .32em 0;
}

#pnl_tbl_main
{
    text-align: left;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

#tbl_main
{
    border-spacing: 0;
    border-collapse: separate;
    empty-cells: show;
    border: 1px solid #FFF;
    border-radius:16px;
}

#tbl_main td,
#tbl_main th
{
    border-left: 1px solid #FFF;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    padding: 0.5em 1em;
}

#tbl_main td:first-child,
#tbl_main th:first-child
{
    border-left-width: 0;
}

#tbl_main thead
{
    background-color: #000;
    color: #FFF;
    text-align: left;
    vertical-align: bottom;
}

#tbl_main td
{
    background-color: transparent;
}

#tbl_main thead {
    border-bottom: 1px solid #FFF;
}

#tbl_main td {
    border-bottom: 1px solid #FFF;
}

#tbl_main tbody > tr:first-child > td {
    border-top: 1px solid #FFF;
}

#tbl_main tbody > tr:last-child > td {
    border-bottom-width: 0;
}

#tbl_main tr:hover
{
    background: #222;
}

.msg_light
{
    color: #888;
}

.msg_err
{
    color: #F00;
    font-weight: bold;
}

#input_add
{
    width: 100%;
    border:none;
    background: #FFF;
    color: #000;
}

.tab_main_d_msg
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 450px;
}

.btn_action
{
    display: inline-flex;
    justify-content: center;

    border: 1px solid #FFF;
    padding: 2px 5px;
    font-weight: bold;
    background: #EEE;
    color: #000;
    text-decoration: none;
}

.btn_action.btn_force
{
    background: #F0F0F0;
    color: #F66;
}

.btn_action:hover
{
    background: #FFF;
    color: #00F;
}

.btn_disabled
{
    border: 1px solid #888;
    background: #444;
    color: #AAA;
    cursor: default;
}

.btn_disabled:hover
{
    border: 1px solid #888;
    background: #444;
    color: #AAA;
    cursor: default;
}

.statind
{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #FFF;
    border-radius: 2px;
    margin-right: 5px;
    margin-left: -4px;
    margin-bottom: -2.5px;
}

.si_gray { background: #888; }
.si_green { background: #0A0; }
.si_yellow { background: #FF0; }
.si_red { background: #F00; }

#pnl_stdout
{
    background: #222;
    border: 1px solid #FFF;
    #border-radius: 8px 0px 0px 0px;

    position: absolute;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 300px;
}

.stdout_hidden
{
    display: none;
    visibility: hidden;
}
.stdout_visible
{
    display: grid;
    grid-template-rows: auto 10px 1fr;
    visibility: visible;
}

#pnl_stdout_header
{
    grid-row: 1;
    background: #000;
    display:grid;
    grid-template-columns: 1fr auto;
    flex-direction: row;
    border-bottom: 1px solid #FFF;
}

#pnl_stdout_header
{
    grid-column: 1;
    text-align: center;
    font-weight: bold;

    justify-content: center;
    align-items: center;
}

#pnl_stdout_header > a,
#pnl_stdout_header > a:visited
{
    grid-column: 2;
    display:flex;
    background: #000;
    color: #FFF;
    text-decoration: none;
    padding: 5px;
    flex-direction: row-reverse;
}

#pnl_stdout_header > a:hover { background: #008; border-radius: 8px; }

#pnl_stdout_content
{
    grid-row: 3;
    background: #000;
    overflow-wrap: break-word;
    overflow-x: auto;
    overflow-y: auto;

    text-align: left;
    padding: 4px;
    margin: 0px 5px 5px 5px;
    border-radius: 4px;
}

.generic_hidden {
    display: none;
    visibility: hidden;
}

.pnl_stdout_content_status_error {
    background: #311 !important;
}

.tab_main_row_updatable {
    color: #FF0;
}

.single_col_error {
    color: #F00;
}